button {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #23cf73;
    padding: 10px 30px;
    align-self: center;
    text-transform: uppercase;
    color: #fafafa;
    opacity: .85;
    font-size: 14px;
}

button:hover {
    transition: opacity .2s;
    opacity: 1;
}