header {
    position: relative;
}

nav {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.logo img {
    max-width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline: 10px;
}

.nav-links a {
    color: #333;
}

.nav-links li {
    padding: 5px 18px 6px;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-links a:hover,
.active-nav-link {
    border-bottom: 1px solid #333;
}

.active-nav-link {
    font-weight: bolder;
}

.hidden {
    display: none;
}

/* responsive */
@media screen and (max-width: 430px) {
    nav {
        justify-content: center;
    }

    .nav-links {
        display: none;
    }
}